*{
    margin: 0px;
    padding: 0px;
}
#first{
    width: 15%;
    flex-direction: column;
    margin-top: 10px;
}
#first-input{
    height: 25px;
}
#first-btn{
    width:178px;
    height: 40px;
    margin-top: 10px;
    border-radius: 20px;
    background-color: blue;
    color:white;
    font-weight: bold;
}
.none{
    display: none;
}
.flex{
    display: flex;
}

#second{
  gap: 20px;
}

.teams{
   height:200px;
   width:200px;
   display: flex;
   align-items: center;
   justify-content: center;
   font-weight: bold;
   font-size: 20px;
   background:  linear-gradient(to bottom, #1e5799 0%,#2989d8 29%,#207cca 64%,#7db9e8 100%);
   color: white;
   border: 2px solid black;
   border-radius:10px;
   box-shadow:10px 10px 10px grey;
   margin-top: 40px;
}
.teams:hover{
    background: linear-gradient(to bottom, #1e5799 0%,#2989d8 3%,#2989d8 7%,#7db9e8 100%);
    cursor: pointer;
}
#third{
  gap: 10px;
  margin: 30px;
  /* border: 1px solid black; */
  width:310px;
}

.toss{
    display: flex;
    justify-content: center;
    align-items: center;
    height:150px;
    width:150px;
    background-color: #7db9e8;
    border-radius: 50%;
    font-weight: bold;
    font-size: 30px;
    
}
.toss:hover{
   background-color: #0091ff;
   color:#000000;
   cursor: pointer;

}
#fourth{
   gap: 10px;
   margin: 10px;
}
.do{
    width: 100px;
    height:100px;
    border-radius: 20px;
    background-color: turquoise;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bolder;
    cursor: pointer;

}

